{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block base_content %}
{% addtoblock "css" %}
<link href='/media/css/rest_temp_style.css' rel='stylesheet' type='text/css'>
{% endaddtoblock %}
<header>
	<nav id="nav_menu">
		<ul>
			{% show_menu 0 100 100 100 %}
			<li class="right menu_lock">
                <a href="{% url 'login' %}"><img src="/media/img/lock_small.png"></a>
            </li>
		</ul>
	</nav>
</header>



<div class="login-box">
	<h1>Resetar Senha</h1>

	<p>Esqueceu sua senha? Entre seu e-mail abaixo, e enviaremos instruções para escolher uma nova.</p>

	<form action="" method="post" id="form_reset">{% csrf_token %}
	{{ form.email.errors }}
	<p> {{ form.email }} <input type="submit" value="" ></p>
	</form>
</div>
{% addtoblock "js" %}
    <script>
    $(document).ready(function(){
    	$('#id_email').attr('title','E-mail');
        $("#form_reset").formLabels({
            refreshOnResize : true
        });
    });
    </script>
{% endaddtoblock %}
{% endblock %}
