{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}Você recebeu esse e-mail por uma requisição para nova senha em {{ site_name }}.{% endblocktrans %}

{% trans "Por favor, entre no link a seguie e escolha uma nova senha:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
{% trans "Seu Usuario:" %} {{ user.username }}

{% trans "Obrigado por nos visitar!" %}

{% blocktrans %}{ site_name }}{% endblocktrans %}

{% endautoescape %}
