{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block base_content %}
{% addtoblock "css" %}
<link href='/media/css/rest_temp_style.css' rel='stylesheet' type='text/css'>
{% endaddtoblock %}
<header>
	<nav id="nav_menu">
		<ul>
			{% show_menu 0 100 100 100 %}
			<li class="right menu_lock">
                <a href="{% url 'login' %}"><img src="/media/img/lock_small.png"></a>
            </li>
		</ul>
	</nav>
</header>
<div class="login-box">
	<h1>O reset foi um sucesso!</h1>

	<p>Enviamos para você um e-mail com as intruções para escolher uma nova senha. Você deve recebe-lo em alguns minutos!</p>

	<p><a href="{{ login_url }}">Entrar</a></p>
</div>
{% endblock %}
