{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block base_content %}
{% addtoblock "css" %}
<link href='/media/css/rest_temp_style.css' rel='stylesheet' type='text/css'>
{% endaddtoblock %}
<header>
	<nav id="nav_menu">
		<ul>
			{% show_menu 0 100 100 100 %}
			<li class="right menu_lock">
                <a href="{% url 'login' %}"><img src="/media/img/lock_small.png"></a>
            </li>
		</ul>
	</nav>
</header>
<div class="login-box">
{% if validlink %}

<h1>Entre uma nova senha:</h1>

<p>Entre a nova senha duas vezes!</p>

<form action="" method="post">{% csrf_token %}
<div class="table">
	<div class="table-cell">
		{{ form.new_password1.errors }}
		{{ form.new_password1 }}<br>
		{{ form.new_password2.errors }}
		{{ form.new_password2 }}
	</div>
<div class="table-cell"><input type="submit" value="" /></div>
</div>
</form>

{% else %}

<h1>O reset falhou!</h1>

<p>O link para o reset da senha era invalido, possivelmente porque ja foi usado, Por favor  faça um novo pedido de reset.</p>

{% endif %}
</div>
{% addtoblock "js" %}
    <script>
    $(document).ready(function(){
    	$('#id_new_password1').val('').attr('title','Nova Senha');
    	$('#id_new_password2').attr('title','Confirmar Senha');
        $("#form_reset").formLabels({
            refreshOnResize : true
        });
    });
    </script>
{% endaddtoblock %}
{% endblock %}
