{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block base_content %}
{% addtoblock "css" %}
<link href='/media/css/construction_style.css' rel='stylesheet' type='text/css'>
{% endaddtoblock %}
<section id="template_content">
	<div id="wrapper">
			<div id="content">
				<h1>Meu Catalogo Virtual</h1>
				<p id="o">Our website is</p>
				<h2>Under Construction</h2>
				<!--<p>But you can get in touch by following us</p>
				<a href="#"><img src="/media/img/construction/fb.png" /></a><a href="#"><img src="/media/img/construction/twitter.png" /></a><a href="#"><img src="/media/img/construction/rss.png" /></a><a href="#"><img src="/media/img/construction/linkedin.png" /></a>
				<p>And be the first to know when we're ready</p>
				<form method="post" action="#">
				<div id="sub">
					<input type="email" name="email" id="email" placeholder="your@email.com" onfocus="this.placeholder = ''" onblur="this.placeholder = 'your@email.com'" /> 
					<input type="submit" value="Submit" />
				</div>
				</form>-->
			</div>
		</div>
  {% placeholder template_1_content %}
</section>

{% endblock %}

		
			
    
    